<a href="https://colab.research.google.com/github/prateekmarda/prateekmarda/blob/main/advanced_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num = int(input("Enter a number:"))

if num > 0:
  print("Num is positive")
elif num == 0:
  print("Num is equal to zero")
else:
  print("Num is negative")

Enter a number:-1
Num is negative

In [ ]:
my_list = [1,2,3,4,5,6]

In [ ]:
for i in enumerate(my_list):
  print(i)

(0, 1)
(1, 2)
(2, 3)
(3, 4)
(4, 5)
(5, 6)

In [ ]:
name = ["Prateek","Priya"]
age = [36,29]

In [ ]:
dict(zip(name,age))

{'Prateek': 36, 'Priya': 29}

In [ ]:
def greet(name):
  print("Hello!",name)

In [ ]:
greet("Prabhu")

Hello! Prabhu

In [ ]:
def mul(x,y):
  a = x * y
  print(a)

In [ ]:
mul(2,3)

6

Write a function that reverses a list without using the built-in reverse() method.

In [ ]:
def revlist(my_list):
  reverse = my_list[::-1]
  print(reverse)

In [ ]:
revlist([1,2,3])

[3, 2, 1]

In [ ]:
def parity(my_list):
  for i in my_list:
    if i % 2 == 0:
      print("Even")
    else:
      print("Odd")

In [ ]:
sub(3,2)

NameError: name 'sub' is not defined

In [ ]:
parity([1,2,3,4,5])

Odd
Even
Odd
Even
Odd



Write a function which calculates are of square and rectangle.

In [41]:
def Area(x,y = None):
    if x == y:
      print("Object is square with area=",x*y)
    else:
      print("Object is rectangle with area=",x*y)

In [40]:
Area(4,5)

Object is rectangle with area: 20

In [47]:
def Info(**kwargs):
  for k,v in kwargs:
    print(f'{k}: {v}')

In [44]:
Info(Name = 'Prateek', age = 36)

ValueError: too many values to unpack (expected 2)

In [69]:
def Avg(**kwargs):
  avg = round(sum(kwargs.values())/len(kwargs.values()),2)
  return avg

In [70]:
Avg(num1 = 1,num2 = 2, num3 = 25)

9.33

Write a function that finds the second largest number in a list.

my_list = [2, 5, 9, 3, 4, 8, 8, 7]

In [78]:
def Second_largest(my_list):
  num = list(set(my_list))
  num.sort()
  return num[-2]

In [80]:
my_list = [2, 5, 9, 3, 4, 8, 8, 7, 9,10]

In [81]:
Second_largest(my_list)

9

In [82]:
squared = lambda x : x**2

In [83]:
squared(25)

625

In [84]:
is_leap = lambda year : (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0)

In [86]:
is_leap(2021)

False

In [90]:
def apply_function(func,value):
  return (func(value))

def square(x):
  return x**2

def cube(x):
  return x**3

In [91]:
apply_function(cube,3)

27

In [92]:
number = [2,3,4]

In [93]:
squared_number = list(map(lambda x: x**2,number))

In [94]:
squared_number

[4, 9, 16]

In [95]:
def is_even(x):
  return x % 2 == 0

In [101]:
number = [1,2,3,4,5,6]

In [97]:
even_list = list(filter(is_even,number))
even_list

[2, 4, 6]

In [98]:
even_list_lambda = list(filter(lambda x: x%2==0,number))
even_list_lambda

[2, 4, 6]

In [103]:
from functools import reduce

In [104]:
def mul(x,y):
  return x * y

In [107]:
reduced_list = reduce(lambda a,b: a*b,number)
reduced_list

720